*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
    background-image: url("./images/dallas.jpg");
	 }
 /*id*/
#awards{
	font-size: 12px;
	
	list-style-type: none;
}

#signature-info
{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#luka{
  display: block;
  margin-right: 100px;
  width: 200%;
}
/*class*/
.slam{
		color:#FFA500;
}
.baby-goat{
	color: #0000FF;
}

.card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border: 2px solid black;
}
.my-container-fluid
{
	 background-image: url("./images/dallas.jpg");
}
